version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mobility-mysql
    restart: always
    environment:
      MYSQL_DATABASE: mobility_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: mobility-streamlit
    ports:
      - "8501:8501"
    environment:
      - DB_HOST=db
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=mobility_db
    depends_on:
      - db

volumes:
  mysql_data:
